.form-container{
    width: 500px;
    height: 600px;
    margin: 20px auto;
    border: 2px solid gray;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;}

    .form label{
        display: block;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 00.0025em;
        padding: 10px;
        margin-top: 10px;
        text-align: left;
        padding-left: 37px;
        
    }
    
    .form{
       text-align: center;
       margin-bottom: 20px;
    }

.form input{
    width: 415px;
    height: 45px;
   font-size: 1.5em;
    border: 1px solid grey;
    border-radius: 5px ;
    padding-left: 10px;
}

    .form-title{
        font-size: 35px;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: 0.0025em;
        color:rgb(223, 3, 3);
        text-align: center
    }

    .btn-submit{
        width: 415px;
        height: 45px;
        background-color: rgb(255, 148, 134);
        margin-top: 40px;
        border-radius: 5px;
        border: none;
    }
    .btn-submit:hover{
        background-color: rgb(247, 38, 1);
    }

    .text-error{
        color: rgb(255, 0, 0);
       text-align: center;
      
       
    }