.header{
    background-color: rgb(15, 8, 31);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav.header a{
    text-decoration: none;
    color: azure;
    margin-left: 30px;
}

nav.header a:hover{
  
    color: rgb(255, 94, 0);
    
}